@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: #f1f1f1;
}
.header {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 0.5px solid #d8d7d7;
}
.cv {
  color: rgb(68, 76, 194);
  font-family: "MuseoModerno", cursive;
  float: left;
  margin-bottom: 20px;
  padding-left: 30px;
}
.home {
  margin: 10px;
  float: left;
  font-family: "Balsamiq Sans", cursive;
  color: rgb(68, 76, 194);
  margin-top: 20px;
  padding-right: 30px;
}
.about {
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-top: 15px;
  padding: 5px;
  border: 0.5px solid #d8d7d7;
  font-size: 30px;
}
img {
  width: 280px;
}
.menu-dalam {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}
.column-kiri {
  font-family: Montserrat, sans-serif;
  width: 50%;
  text-align: right;
  margin: 50px;
  background-color: white;
  border: 0.5px solid #d8d7d7;
  padding: 20px;
}
.column-kanan {
  font-family: Montserrat, sans-serif;
  width: 50%;
  background-color: white;
  border: 0.5px solid #d8d7d7;
  padding: 20px;
}
h3 {
  color: rgb(68, 76, 194);
}
